<style>

.root {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    background-color: #f1f5f9;
}

.root > main {
    width: calc(100vw - 80px);
    height: 100vh;
    max-width: calc(100vw - 80px);
    max-height: 100vh;
    overflow: hidden;
}

.root > nav {
    height: calc(100vh - 20px);
    width: 80px;
    padding: 10px;
    
    background-color: #334155;
    color: #94a3b8;

    display: flex;
}

.root > nav > div {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.root > nav > div > a {
    margin: 10px 0;
    width: 95%;
    height: 60px;
    border: 1px solid #e7e5e4;
    border-radius: 4px;
    
    background-color: #f1f5f9;

    cursor: pointer;
    text-decoration: none;
    color: #1e293b;

    display: flex;
    align-items: center;
    justify-content: center;
}
</style>

<div class="root">
    <nav>
        <div>
            <a routerLink="/">Home</a>
            <a routerLink="/moduleA">Module A</a>
            <a>...</a>
        </div>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
